<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               👋 게임과 디지털 미디어의 모든 것에 관심이 많은 게임 개발자, 오유빈입니다.
            </p>
            <p class="paragraph-text justify-text">
                🎮 게임 개발에 집중된 커리어를 가지고 있지만, 그래픽스 프로그래밍과 엔진 개발에도 관심이 있습니다.
            </p>
            <p class="paragraph-text justify-text">
                컴퓨터 그래픽스, 게임 엔진, 인공지능, VR/AR을 비롯한 여러 기술 분야를 어떻게 하면 융합할 수 있을지, 
                어떻게 하면 더 몰입감 있는 게임 경험을 만들 수 있을지 고민하는 것을 즐깁니다.
            </p>
            <p class="paragraph-text justify-text">
                👋 Hi, my name is Yu Bhin and I live in Korea.
            </p>
            <p class="paragraph-text justify-text">
                🎮 I'm a Game Developer, still I interested in Graphics Programming and Engine Development.
            </p>
            <p class="paragraph-text justify-text">
                Blog<a href="https://muksal2000.tistory.com/">https://muksal2000.tistory.com/</a>에서 최근 관심사와 활동에 대해 글을 쓰고 있습니다. 
                Project <a href="https://github.com/eye2ffect">GitHub</a>에 올리고 있습니다. 
                이메일 주소는 이 페이지 <span class="extra-link"><a href="#extra">하단</a></span>에서 확인하실 수 있습니다.
            </p>
        </div>
    </section>
</div>
