<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                안녕하세요 게임 개발과 컴퓨터 그래픽스에 관심있는 신입 개발자 입니다.
            </p>
            <p class="paragraph-text justify-text">
                영화업계
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">https://muksal2000.tistory.com/</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ eye2ffect }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
