<div class="section-wrapper">
    <section class="section education" id="awards">
        <div class="full-width">
            <div class="section-heading" data-num="03.">Awards</div>
            <div class="experience-grid">
                <div class="experience-item">
                    <div class="experience-period">2024</div>
                    <div class="experience-content">
                        <h3 class="experience-title">한국 정보통신학회 추계종합학술대회</h3>
                        <div class="experience-company">학생 우수논문상 수상</div>
                    </div>
                </div>
                <div class="experience-item">
                    <div class="experience-period">2024</div>
                    <div class="experience-content">
                        <h3 class="experience-title">인제창의 융합 캡스톤 디자인</h3>
                        <div class="experience-company">장려 수상</div>
                    </div>
                </div>
                <div class="experience-item">
                    <div class="experience-period">2023</div>
                    <div class="experience-content">
                        <h3 class="experience-title">공감오래콘텐츠 주최 "AI 어디까지 활용해봤니?"</h3>
                        <div class="experience-company">장려 수상</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
