<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                이력서 및 연락처 정보는 아래 링크를 통해 확인할 수 있습니다. 추가적인 문의 사항이 있으시면 언제든지 연락 주시기 바랍니다.
            </p>
          
            <p class="paragraph-text justify-text">
                이력서 다운: <a href="https://drive.google.com/file/d/1diW3d3maaS3DX07PWJ6FxRIM_o66mic-/view?usp=drive_link/resume/resume.pdf">PDF</a>
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:green4072@naver.com"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/eye2ffect"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Web Blog">
                    <a href="https://muksal2000.tistory.com/"><i class="head-icon fas fa-rss"></i></a>
                </span>
                
        
            </div>
        </div>
    </section>
</div>