<meta charset="UTF-8">
{% if site.google_analytics %}
    {% include googeanalytics.html %}
{% endif %}

<title>{{ site.site_title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="google-site-verification" content="k4p92PduVR_7ZqAlB8-OMnONNOl9GkkmUh4dlKfbY7o" />
<meta name="theme-color" content="#08080d">

<!-- Fonts - 2026 Modern Stack -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />

<link rel="stylesheet" href="vendor/css/normalize.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="vendor/css/hint.base.min.css"/>
<link rel="stylesheet" href="vendor/css/semi-transparent-buttons.css"/>
<link rel="stylesheet" href="assets/css/progress.css"/>
<link rel="stylesheet" href="assets/css/education.css"/>
<link rel="stylesheet" href="assets/css/main.css"/>
<link rel="stylesheet" href="assets/css/card.css"/>
<link rel="shortcut icon" href="assets/images/favicon.ico" />
<meta name="description" content="Portfolio -- OH yubhin Game Developer Interested in Graphics Programming">
